@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #1b6ca8;
  --secondary-color: black;
  --accent-color: white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background-color: var(--secondary-color);
  color: var(--accent-color);
  cursor: pointer;
  font-weight: bold;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  padding-top: 80px;
}

@media screen and (max-width: 400px) {
  .App {
    padding-top: 120px;
  }
}
